body {
	width: 900px;
	margin: 30px auto;
}

.logo {
	font-size: 1.2em;
	font-weight: bold;
}

h1 {
	font-size: 3em;
	margin-top: 80px;
	margin-bottom: 100px;
}

h3 {
	font-size: 1.5em;
	margin-bottom: 20px;
	width: 100%;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.left {
	background: lightyellow;
}

.right {
	// background: lightgray;
	margin-bottom: 150px;

	& > * {
		width: 100%;
	}
}

.left, .right {
	width: 45%;
}

.first {

	input[type=text] {
		margin-bottom: 10px;
		outline: none;
		border: none;
		border-bottom: 2px solid $backColor;

		&:last-of-type {
			margin-bottom: auto;
		}

		&:hover {
			border-bottom: 2px solid $hoverColor;
		}

		&:focus {
			border-bottom: 2px solid $selectColor;
		}
	}
}

.second {

	div {
		margin-bottom: 1em;
		width: 50%;
		float: left;
	}

	div:nth-of-type(15) {
		margin-top: 1.5em;
	}

	div:nth-of-type(n+16) {
		clear: both;
	}

	div:last-of-type {
		margin-bottom: initial;
	}

	label {
		position: relative;
		margin: 0 100% 30px $indent;
	}

	input[type=checkbox] {
		display: none;

		& + label::before {
			position: absolute;
			left: -$indent;
			display: inline-block;
			content: "";
			background: url("img/checkbox.png") no-repeat right;
			width: 20px;
			height: 20px;
		}

		& + label:hover::before {
			background: url("img/checkbox.png") no-repeat center;
		}

		&:checked {

			& + label::before {
				background: url("img/checkbox.png") no-repeat;
			}
		}
	}
}

hr {
	width: 100%;
	border: 1px solid $selectColor;
}

.third {
	// width: 100%;
	// display: flex;
	// flex-flow: row nowrap;

	div {
		background-color: lightgray;
		// width: 25%;
	}

	input[type=radio] {
		display: none;
	}
}
