body {
	width: 1200px;
	margin: 30px auto;
	font-family: 'Montserrat', sans-serif;
	font-size: 1.1em;
	line-height: 1.5em;
}

.logo {
	font-size: 1.2em;
	font-weight: bold;
}

h1 {
	font-size: 3em;
	margin-top: 80px;
	margin-bottom: 100px;
}

h3 {
	font-size: 1.5em;
	margin-bottom: 20px;
	width: 100%;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.left {
	width: 40%;

	&:first-of-type {
		position: relative;
	}
}

.right {
	width: 45%;
	margin-bottom: 150px;

	* {
		width: 100%;
	}

	textarea {
		padding: 1em;
	}
}

hr {
	width: 100%;
	border: 1px solid $selectColor;
}

input[type=submit] {
	font-size: 1.1em;
	width: 152px;
	height: 48px;
	border-radius: 24px;
	margin-left: 55%;
	border-style: none;
	color: $selectColor;
	background: black;
}
::placeholder {
	font-family: 'Montserrat', sans-serif;
	font-size: 1.3em;
}
