body {
	margin: 10px;
}

h1 {
	font-size: 2em;
	// margin-top: 150px;
}

form {
	// margin-top: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.block {
	display: flex;

	& div:first-child {
		width: 30%;
	}

	& div:last-child {
		margin-left: auto;
		width: 30%;
	}
}

.left {
	// flex: 1 0 40%;
	background: lightyellow;
}

.right {
	// flex: 1 0 40%;
	background: lightgray;
}

.left, .right {
	width: 45%;
}
